<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/wait.html" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
		
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
		<httpProtocol>
			<customHeaders>
<add name="Content-Security-Policy"
value="default-src 'none';
script-src 'self' 'unsafe-eval' 'unsafe-inline' https://www.googletagmanager.com https://www.google-analytics.com https://maps.googleapis.com *.facebook.net https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/ https://fonts.gstatic.com/ https://cse.google.com http://cse.google.com https://www.google.com; 
img-src 'self' 'unsafe-eval' 'unsafe-inline' *.gstatic.com data: *.youtube.com  https://i.ytimg.com/ https://cse.google.com http://cse.google.com https://www.google.com;
frame-src 'self' 'unsafe-eval' 'unsafe-inline' *.youtube.com *.facebook.com https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/ https://cse.google.com http://cse.google.com https://www.google.com;
style-src 'self' 'unsafe-eval' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/ https://cse.google.com http://cse.google.com https://www.google.com;
font-src 'self' 'unsafe-eval' 'unsafe-inline' data: https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/ https://fonts.gstatic.com/ https://cse.google.com http://cse.google.com https://www.google.com;
connect-src 'self' https://web1-05.i-me-i.com https://www.google-analytics.com https://cse.google.com http://cse.google.com https://www.google.com;
media-src 'self'"
/>
			
			<remove name="X-Powered-By" />
			 <remove name="X-AspNetMvc-Version" />
			<add name="X-Content-Type-Options" value="nosniff" />
			<!-- Anti-XSS for IE -->
			<add name="X-Xss-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
		
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
                        redirectType="Permanent" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000;includeSubDomains;preload" />
                </rule>
            </outboundRules>
        </rewrite>
		<security>
        <requestFiltering removeServerHeader="true" />
    </security>
    </system.webServer>
    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Lax" />
    </system.web>
	
</configuration>
