.mailbox_index {padding: 15%;}
.mail_indexbg {background: url(../img/mailbox/mailbox_bg.png) no-repeat bottom right/cover;}
.btn_index {border: 3px solid #fff;}
.btn_index:hover,.btn_index:focus {border: 3px solid #0B7D9B;color:var(--md-black-1);}